<nav class="navbar navbar-light bg-faded">
  <div class="container">
  <a class="navbar-brand" href="/">Coder Factory Job Board</a>
  <ul class="nav navbar-nav pull-xs-right">
    <% unless user_signed_in? %>
      <li class="nav-item">
        <a class="nav-link btn btn-success-outline" href="/companies/new">Register your company</a>
      </li>
    <% end %>
    <li class="nav-item">
      <a class="nav-link" href="/jobs">All jobs</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/companies">Companies</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/about">About</a>
    </li>
    <% if user_signed_in? %>
      <li class="nav-item"><%= link_to 'Sign out', destroy_user_session_path, method: :delete, class: 'nav-link' %></li>
    <% else %>
      <li class="nav-item"><%= link_to 'Sign in / Register', new_user_session_path, class: 'nav-link' %></li>
    <% end %>

  </ul>
  </div>
</nav>
